DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
SECRET_KEY=replace-with-a-strong-secret-key

DB_NAME=inventory_db
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

# For production:
# DEBUG=False
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
# SECRET_KEY=generate-a-strong-random-secret
